.uokmain{
    align-items: center;
    align-content: center;
}
.uoklink{
    align-self: center;
    display: flex;
    width: 50px;
    padding: 10px 50px 25px;
    border: 2px solid gray;
    
    font-family: raleway;
    float:left;
    margin-top:50px;
    background:yellowgreen;
    
    

       
}